a,
p,
span,
h1,

html {
    scroll-behavior: smooth;
}


h2 {
    text-decoration: none;
    font-size: 1vw;
}


body {
    background-color: #000000;
    background-image: url(../img/backgroundpicture2.png);
    background-size: cover;
}


header {
    height: 5vw;
    align-items: center;
    display: flex;
    justify-content: end;
}

nav {
    width: 70vw;
    height: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0vw 1vw 4vw;
    border-radius: .3vw;
    background-image: url(../img/nav.Outline2.png);
    background-size: 100vw 5vw;
}


nav>a {
    color: #E27B57;
    padding: 0 0.5vw;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1,
p {
    color: #E27B57;
    margin: 0
}

.mainText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 3vw 0 0 0
}

.mainText h1 {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-size: 3.4vw;
    margin: 0;
    color: #E27B57;

}

.shtrihcode {
    width: 40vw;
    height: 4vw;
    margin: 0;
}

.grid-conteiner {
    width: 100%;
    max-width: 1000px;
    padding: 0 100px;
    margin: 0 auto;
    display: flex;
}

.kursused {
    width: 100%;
    display: grid;
    margin-bottom: 5vw;

}

.card-container {
    width: 100%;
    /* Full width of the container */
    display: grid;
    /* Use grid layout */
    grid-template-columns: repeat(2, 1fr);
    /* Static 4 columns */
    gap: 2vw;
    /* Space between cards */
    justify-content: center;
    /* Center the grid in the container */
    padding: 2vw;
    /* Padding around the grid */
}

.skull {
    width: 3vw;
    height: 8vw;
    margin: 0;
}

.skull1 {
    width: 3vw;
    height: 8vw;
    margin: 0;
    transform: scaleY(-1);

}

.card-container3 {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
    flex-wrap: wrap;
    /* Wrap cards if the screen is smaller */
    margin-top: 2vw;
}

.card3 {
    background-color: transparent;
    /* Transparent background */
    text-align: left;
    font-family: "Jura", sans-serif;
    color: #E27B57;
    padding: 1.5vw;
    width: 25vw;
    /* Adjust the width of the card */
    color: #FFF0EA;
    /* Text color */
}

.card3 h3 {
    font-size: 2vw;
    margin-bottom: 1vw;
    color: #E27B57;
    /* Title color */
    font-family: "Jura", sans-serif;
}

.card3 p {
    font-size: 1vw;
    line-height: 1.5;
    margin-bottom: 1.5vw;
}


.card-button3 {
    text-decoration: none;
    background-color: #E27B57;
    color: #0F1A27;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
}

.card-button3:hover {
    background-color: #FFF0EA;
    color: #E27B57;
}



.end {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -13vw;
    display: flex;
}

* {
    /* border: 5px solid red; */
}

img {
    pointer-events: none;
}

